.m{
    height: 700px;
    margin-top: 70px;
    margin-left: -150px;
   

}
.m2{
    display: flex;
    position: relative;
    margin-top: -790px;
    margin-left: -10px;
    list-style: none;
    width: 900px;
    background-color: rgb(31, 30, 30);
    color: rgb(201, 188, 188);
    padding: 30px;
}
.m3{
    font-size: 23px;
    padding-left: 80px;
    margin-left: 30px;
    
}
.m3:hover{
    color: rgb(149, 99, 43);
}
.m4{
    font-style: italic;
    font-weight: 500px;
    margin-left: 900px;
    font-size: 55px;
    position: relative;
    margin-top: -100px;
    background-color: rgb(31, 30, 30);
    color: rgba(237, 232, 85, 0.652);
    padding-top: 200px;
    padding-bottom: 270px;
    padding-left: 60px;
    height: 315px;
    width: 530px;
animation: a;
}
@keyframes a{
    position: relative;
    
}
