.p1img1{
    width:100%;
    height:950px;
    background-image: linear-gradient(rgba(140, 108, 94, 0.521),rgba(146, 90, 120, 0.448)),url(./Wedding_Planners/10013.jpg);
    background-size: cover;
    background-position: center;
    
}
.p1text1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 450px;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
}

.p1text2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: white;
    letter-spacing: 1px;
}
.p1block1{
    width: 100px;
    height: 40px;
    background-color: rgb(240, 44, 99);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 1.5px;
    padding: 55px 230px;
    margin-top:0%;
}

.p1img2{
    float: left;
    height: 700px;
    position: relative;
    left: 90px;
}

.p1img3{
    -webkit-transform : scaleX(-1);
    position: relative;
    right: 320px;
    bottom: 20px;
}
.p1text3{
    font-family:inherit;
    font-size: 15px;
    color: rgb(212, 37, 95);
    letter-spacing: 1px;
    position: relative;
    top: 150px;
    right: 350px;
    font-style: normal;
}
.p1block2{
    display: flex;
    font-family:'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(237, 172, 129, 0.052),rgba(237, 172, 129, 0.245));
    padding: 95px 450px 250px 450px;
    position: absolute;
    top: 978px;
    font-size: 18px;
    letter-spacing: 0.1px;
    word-spacing: 1px;
    line-height: 25px;
    font-style:italic;
}
.p1block3{
    display: flex;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(167, 90, 90, 0.574);
    padding: 95px 300px 3px 600px;
    position: absolute;
    top: 520px;
    right: 1250px;
    font-size: 17.8px;
    letter-spacing: 0.1px;
    word-spacing: 1px;
    line-height: 28px;
    font-style:italic;
    color: white;
    margin-right: -120px;
   
}
.block{
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
    background-color:rgb(240, 44, 99);
    height: 300px;
    width: 800px;
    position: relative;
    left: 450px;
    bottom: 50px;
    font-size: 50px;
    font-style:normal;
    
}
.block3img{
    width: 390px;
    height: 500px;
    position: relative;
    left: 400px;
    bottom: 250px;
}
.section-1{
    background-attachment: fixed;
}
.section-2{
    height: 100vh;
    background-image: url(./Wedding_Planners/10016.jpeg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    top: 1000px;
}
.sec3t1{
    display: flex;
    height: 850px;
    position: relative;
    top: 800px;
    background-color: rgb(243, 209, 209);
    padding-left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size:50px ;
    color: rgb(88, 50, 50);
    
}
.sec3i1{
    height: 320px;
    width: 350px;
    position: relative;
    right: 700px;
    bottom: 100px;
}
.sec3t2{
    position: relative;
    top: 200px;
    right: 1000px;
    font-size: 40px;
}
.sec3t3{
    position: relative;
    top: 250px;
    right: 950px;
    font-size: 19px;
    font-style: italic;
    line-height: 29px;
}
.sec3img2{
    width: 500px;
    height: 600px;
    position: relative;
    right: 850px;
    top: 100px;
}
.sec3img3{
    width: 550px;
    height: 300px;
    position: relative;
    right: 2200px;
    top: 550px;
}
.blackimg{
    height: 300px;
    display: flex;
    background-color: black;
    position: relative;
    top: 630px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;

}
.blackt2{
    position: relative;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    top: 450px;
    left: 250px;
    font-size: 20px;
}
.collage1{
    width: 350px;
    height: 350px;
    position: relative;
    top: 503px;
    right: 90px;
}
.collage2{
    width: 350px;
    height: 350px;
    position: relative;
    left: 270px;
    top: 150px;
    
}
.collage3{
    width: 350px;
    height: 350px;
    position: relative;
    left: 640px;
    bottom:207px;
}
.coll4{
    position: relative;
    width: 350px;
    height: 350px;
    left: 1030px;
    bottom: 560px;
}
.p3block1{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    display: flex;
    background-color: rgba(167, 90, 90, 0.574);
    bottom: 615px;
    height: 600px;
    width: 1450px;
    right: 20px;
    font-size: 18px;
    color: white;
    font-style: italic;
    letter-spacing: 0.1px;
    word-spacing: 0.5px;
    line-height: 25px;

}
.p3img{
    position: relative;
    left: 50px;
    height: 500px;
    width: 390px;
    top: 50px;
}
.p3block2{
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
    background-color:rgb(240, 44, 99);
    height: 280px;
    width: 800px;
    position: relative;
    top: 130px;
    left: 50px;
    font-size: 50px;
    font-style:normal;

}
.lastimg{
    position: relative;
    bottom: 659px;
    right: 30px;
    height: 500px;
    width: 1500px;
    
    object-fit:fill;
}
.lastpgtag{
    position: relative;
    bottom: 667px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.757);
    width: 1450px;
    padding: 50px 700px;
    color: rgb(220, 126, 152);
}
body{
    
    overflow-x:hidden;
}
.fa-facebook-f{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left: 300px;

}
.fa-twitter{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left:312px;

}
.fa-instagram{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left: 324px;

}
.fa-pinterest-p{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left: 336px;

}
.fa-behance{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left: 347px;

}
.fa-youtube{
    position: relative;
    bottom: 820px;
    color: white;
    font-size: 22px;
    left: 359px;

}
.final{
    position: relative;
    bottom: 870px;
    left: 560px;
    color: white;
    font-size: 45px;
    
}
.fintext{
    position: relative;
    bottom: 770px;
    left: 170px;
    color: white;
    font-size: 18px;
   font-style: italic;
}
